main {
    margin: auto;
    max-width: 1440px;
    width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product {
    align-items: center;
    display: flex;
    justify-content: center;
}

.product__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 350px;
}

.product__images li:first-child {
    flex: 0 0 100%;
    height: 340px;
}

.product__images li {
    flex: 0 0 30%;
    height: 120px;
    margin: 10px 0;
}

.product__image-variants {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.product__description {
    padding-left: 15px;
    width: 280px;
    position: relative;
}

.product__description-rating {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.product__description-rating ul {
    display: flex;
    justify-content: space-around;
}

.product__description-colors {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.product__description-colors li {
    border: 1px solid #1D4ED8;
    height: 25px;
    width: 25px;
}

.product__description-size {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.product__description-size li {
    border: 1px solid #1D4ED8;
    padding: 5px;
    width: 43%;
}

.product__description-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product__description-btn {
    padding: 10px;
    margin: 7px 0px;
}

.btn-outline {
    border: 1px dashed #1D4ED8;
}

.product__description-close {
    position: absolute;
    top: 0;
    right: 0;
}

.--font-c-blue {
    color: #1D4ED8;
}

.--bg-skyblue {
    background-color: #DBEAFE;
}

.--bg-pink {
    background-color: #F9A8D4;
}

.--bg-red {
    background-color: #EF4444;
}

.--bg-orange {
    background-color: #F59E0B;
}

.--bg-white {
    background-color: #E5E7EB;
}